body {
  font-family: 'Rubik', sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

#nav {
  padding-left: 1em;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

/* centering utilities */

.center {
  margin: auto;
  width: 100%;
  /* border: 3px solid green; */
  padding: 10px;
  text-align: center;
}

.center h2 {
  margin: auto;
}

/* slider styles */

.slider-layout {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 3em;
  padding-left: 2em;
}

#day {
  width: 35em;
}

#slider-label {
  /* padding-left: 0.5em; */
  font-size: 1.5em;
}

.tick {
  font-size: 1em;
  margin-left: 1.5em;
  margin-right: 1.5em;
}

/* Ped SVG Styles */
.sad {
  fill: #428e92;
}

.sad-dark {
  fill: #00363a;
}

.neutral {
  fill: #cddc39;
}

.neutral-dark {
  fill: #9a0;
}

.happy {
  fill: #ffff4d;
}

.happy-dark {
  fill: #ffd54d;
}

/* .top-lid-happy {
  opacity: 0%;
}

.bottom-lid-happy {
  opacity: 0%;
}

.top-lid-neutral {
  opacity: 100%;
  margin-top: -10px;
}

.bottom-lid-neutral {
  opacity: 0%;
}

.top-lid-sad {
  opacity: 0%;
}

.bottom-lid-sad {
  opacity: 100%;
} */

.blink {
  opacity: 100%;
}

.cls-1 {
  /* fill: #9a0; */
}

.cls-2 {
  /* fill: #cddc39; */
}

.cls-3 {
  fill: #ffff6e;
  opacity: 0.52;
}

.cls-4 {
  fill: #fff;
}

.cls-5 {
  fill: #00363a;
}

.cls-6 {
  fill: none;
  stroke: #00363a;
  stroke-miterlimit: 10;
  stroke-width: 3px;
}

/* .body-top {
  fill: #cddc39;
}

.body-shadow {
  fill: #9a0;;
} */

/* 
.body-top-sad {
  fill: #428e92;
} */
/* 
.body-shadow-sad {
  fill: #00363a;
}

.body-top-neutral {
  fill: #cddc39;
}

.body-shadow-neutral {
  fill: #9a0;
} */

/* .body-top-happy {
  fill: #ffff4d;
}

.body-shadow-happy {
  fill: #ffd54d;
}

.hair-front-sad {
  fill: #428e92;
}

.hair-back-sad {
  fill: #00363a;
}

.hair-front-neutral {
  fill: #cddc39;
}

.hair-back-neutral {
  fill: #9a0;
}

.hair-front-happy {
  fill: #ffff4d;
}

.hair-back-happy {
  fill: #ffd54d;
} */
