body {
  font-family: 'Rubik', sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

#nav {
  padding-left: 1em;
}

nav a {
  display: inline-block;
  margin: 1em;
}

#nav hr {
  color: #002124;
}

form div {
  margin: 1em;
  display: inline-block;
}

/* centering utilities */

.center {
  margin: auto;
  width: 100%;
  padding: 10px;
  text-align: center;
}

.center h2 {
  margin: auto;
  padding: 20px;
}

.center h3 {
  margin-bottom: 0px;
}

/* sleep/goal ui elements */

#goal {
  position: absolute;
  left: 75%;
  padding: 100;
  border-style: solid;
  border-width: 0.05em;
  padding: 1em;
  border-radius: 100px;
  border-color: #428e92;
}

#currentSleep {
  position: absolute;
  width: 400px;
  left: 50%;
  margin-left: -200px;
  border-style: solid;
  border-width: 0.05em;
  padding: 1em;
  border-radius: 100px;
  border-color: #428e92;
  justify-content: center;
  align-items: flex-start;
}

.daily-sleep-btn {
  cursor: pointer;
  border-radius: 100px;
  height: 50px;
  margin: 0 2em;
  border-color: #559fa5;
  background-color: #559fa53b;
  box-shadow: 2px 1px 2px 1px rgba(0, 0, 0, 0.2);
}

.daily-sleep-btn:hover {
  border-color: #ffd54d;
  background-color: #ffff4d;
}

.daily-sleep-btn:disabled {
  cursor: default;
  border-color: #7b7b7b;
  background-color: #cccccc;
  color: #a2a2a2;
}

#daily-info {
  min-width: 200px;
}

#scale-wrapper {
  display: flex;
  flex-flow: column;
}

#scale {
  position: absolute;
  left: 10%;
  padding: 100;
  border-style: solid;
  border-width: 0.05em;
  padding: 1em;
  border-radius: 50px;
  border-color: #428e92;
}

.scaleItem {
  margin: 25px;
}

.simple-flex {
  display: flex;
  align-items: baseline;
}

#scale-wrapper .colorScale {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  align-content: center;
}

#happy {
  background-color: #ffff4d;
}

#neutral {
  background-color: #cddc39;
}

#sad {
  background-color: #428e92;
}

.colorScale .percent {
  padding-top: 14px;
}

/* Ped SVG Styles */
.sad {
  fill: #428e92;
}

.sad-dark {
  fill: #002124;
}

.neutral {
  fill: #cddc39;
}

.neutral-dark {
  fill: #9a0;
}

.happy {
  fill: #ffff4d;
}

.happy-dark {
  fill: #ffd54d;
}

.blink {
  opacity: 100%;
}

.cls-3 {
  fill: #ffff6e;
  opacity: 0.52;
}

.cls-4 {
  fill: #fff;
}

.cls-5 {
  fill: #00363a;
}

.cls-6 {
  fill: none;
  stroke: #00363a;
  stroke-miterlimit: 10;
  stroke-width: 3px;
}
